@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  /* Primary Colors */
  --color-light-red: hsl(0, 100%, 67%);
  --color-orangey-yellow: hsl(39, 100%, 56%);
  --color-green-teal: hsl(166, 100%, 37%);
  --color-cobalt-blue: hsl(234, 85%, 45%);

  /* Gradient Colors */
  --color-light-slate-blue-bg: hsl(252, 100%, 67%);
  --color-light-royal-blue-bg: hsl(241, 81%, 54%);
  --color-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --color-persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-gray-blue: hsl(224, 30%, 27%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles (bullets, numbering) */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Remove default quote styles */
blockquote,
q {
  quotes: none;
}

/* Remove default quote styles for Webkit browsers */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Remove default heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset links styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset form element styles */
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  overflow: hidden;
  height: 100vh;
}

main {
  max-width: 450px;
  height: 100%;
}

.result-card {
  color: var(--color-light-lavender);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    var(--color-light-slate-blue-bg),
    var(--color-light-royal-blue-bg)
  );
  padding: 2rem 3rem;
  align-items: center;
  gap: 1rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.result-card h4 {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.result-card h3 {
  color: white;
  font-size: 1.25rem;
}

.result-card p {
  text-align: center;
}

.result-score {
  background-image: linear-gradient(
    to top,
    var(--color-persian-blue-circle),
    var(--color-violet-blue-circle)
  );
  border-radius: 50%;
  height: 150px;
  width: 150px;
  font-size: 0.825rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.summary-card {
  font-weight: 700;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.summary-score {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.summary-score * {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  border-radius: 1rem;
}

.reaction-summary {
  background-color: hsl(0, 100%, 97%);
}
.memory-summary {
  background-color: hsl(39, 100%, 97%);
}
.verbal-summary {
  background-color: hsl(166, 100%, 97%);
}
.visual-summary {
  background-color: hsl(234, 85%, 97%);
}

.reaction-summary span {
  color: hsl(0, 100%, 67%);
}
.memory-summary span {
  color: hsl(39, 100%, 56%);
}
.verbal-summary span {
  color: hsl(166, 100%, 37%);
}
.visual-summary span {
  color: hsl(234, 85%, 45%);
}

.summary-score span {
  font-size: 1rem;
  margin-left: 0.25rem;
}

.hundred {
  color: hsl(0, 0%, 70%);
}

.button {
  margin-top: 1rem;
  border: none;
  background-color: var(--color-dark-gray-blue);
  color: hsl(0, 0%, 90%);
  padding: 1rem;
  border-radius: 5rem;
}

.button:hover{
    cursor: pointer;
    background-image: linear-gradient(
        var(--color-light-slate-blue-bg),
        var(--color-light-royal-blue-bg)
      );
}

@media (min-width: 600px) {
    main {
        max-width: 800px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .result-card {
        border-radius: 2rem;
        max-width: 300px;
    }
    .summary-card {
        width: 400px;
    }
}
